@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(3, 0, 51);
}
/* header */
.nav {
    display: fixed;
}
.img-brand{
    width: 20vh;
}
.active {
    margin-right: 4em;
    color: white;
    text-decoration: none;
}
.navbar-toggler{
    border: none;
    color: white;
}

.icon{
    font-size: 1.5em;
    color: white;
}
.team-boxed {
    color:#ffffff;
    
  }
  /* cards atletas */
  .team-boxed p {
    color:#ffffffc4;
  }
  .box{
      border-radius: 20px;
  }
  .team-boxed h2 {
    font-weight:bold;
    margin-bottom:40px;
    padding-top:40px;
    color:inherit;
  }
  
  .team-boxed .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto;
  }
  
  .team-boxed .intro p {
    margin-bottom:0;
  }
  
  .team-boxed .people {
    padding:50px 0;
  }
  
  .team-boxed .item {
    text-align:center;
  }
  
  .team-boxed .item .box {
    text-align:center;
    padding:30px;
    background-color:rgba(1, 6, 61, 0);
    margin-bottom:30px;
  }
  
  .team-boxed .item .name {
    font-weight:bold;
    margin-top:28px;
    margin-bottom:8px;
    color:inherit;
  }
  
  .team-boxed .item .title {
    text-transform:uppercase;
    font-weight:bold;
    color:#ffffff;
    letter-spacing:2px;
    font-size:13px;
  }
  
  .team-boxed .item .description {
    font-size:15px;
    margin-top:15px;
    margin-bottom:20px;
  }
  
  .team-boxed .item img {
    max-width:160px;
  }
  
  .team-boxed .social {
    font-size:18px;
    color:#ffe600;
  }
  
  .team-boxed .social a {
    color:inherit;
    margin:0 10px;
    display:inline-block;
    opacity:0.7;
  }
  
  .team-boxed .social a:hover {
    opacity:1;
  }
  
  .icon-flag{
    width: 1.5em;
    margin: 1em;
  }
  .img-card{
      border-radius: 20px;
  }
  .img-card:hover{
    box-shadow: 9px 25px 57px -2px rgba(0,0,0,0.55);
    -webkit-box-shadow: 9px 25px 57px -2px rgba(0,0,0,0.55);
    -moz-box-shadow: 9px 25px 57px -2px rgba(0,0,0,0.55);
}

/* img fondo */
  .img__fondo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -3;

  }
  .capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(5, 19, 36, 0.801), rgba(9, 2, 100, 0.534), rgba(3, 0, 51, 0.527), rgb(3, 0, 51));
    z-index: -2;
  
  }
/* fin img fondo */
/* footer */
  .footer{
    padding: 50px 0 20px 0;
    background-color: rgb(4, 2, 34);
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 20px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}
.fa-angle-double-right{
  margin-left: 40px;
}

/* copyright */
#sticky-footer{
  background-color: rgb(7, 1, 20);
}

/* fin footer */
.container__events{
  margin-top: 4em;
  margin-bottom: 4em;

}

/* cards eventos */
.container-fluid,
.container {
    max-width: 1200px;
}

.card-container {
    padding: 100px 0px;
    -webkit-perspective: 1000;
    perspective: 1000;
}

.profile-card-6 {
    max-width: 300px;
    background-color: #FFF;
    border-radius: 20px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
}

.profile-card-6 img {
    width: 120%;
    transition: all 0.15s linear;
}

.profile-card-6 .profile-name {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 20px 0 0 0 ;
    color: #FFF;
    padding: 15px 20px;
    background: linear-gradient(140deg, rgba(1, 10, 63, 0.692) 50%, rgba(76, 0, 255, 0) 50%);
    transition: all 0.15s linear;
}

.profile-card-6 .profile-position {
    position: absolute;
    color: rgba(255, 255, 255, 0.4);
    left: 30px;
    top: 100px;
    transition: all 0.15s linear;
}

.profile-card-6 .profile-overview {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 0, 0));
    color: #FFF;
    padding: 50px 0px 20px 0px;
    transition: all 0.15s linear;
}

.profile-card-6 .profile-overview h3 {
    font-weight: bold;
}

.profile-card-6 .profile-overview p {
    color: rgba(255, 255, 255, 0.7);
}

.profile-card-6:hover img {
    filter: brightness(80%);
}

.profile-card-6:hover .profile-name {
    padding-left: 25px;
    padding-top: 20px;
}

.profile-card-6:hover .profile-position {
    left: 40px;
}

.profile-card-6:hover .profile-overview {
    padding-bottom: 25px;
}

.get-in-touch {
  max-width: 800px;
  margin: 50px auto;
  position: relative;

}
.get-in-touch .title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 3.2em;
  line-height: 48px;
  padding-bottom: 48px;
     color: #5543ca;
    background: #5543ca;
    background: -moz-linear-gradient(left,#2f00ff  0%,#310000 100%) !important;
    background: -webkit-linear-gradient(left,#2f00ff   0%,#310000 100%) !important;
    background: linear-gradient(to right,#2f00ff   0%,#310000 100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

/* formulario de contactos */
.contact-form{
  margin: 1em;
}
.contact-form .form-field {
  position: relative;
  margin: 32px 0;
}
.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #0d0747;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  border-radius: 12px;
  background-color: rgb(20, 0, 92);
}
.contact-form .input-text:focus {
  outline: none;
}
.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}
.contact-form .label {
  position: absolute;
  left: 30px;
  bottom: 6px;
  font-size: 0.9rem;
  line-height: 26px;
  font-weight: 400;
  color: #ffffff;
  cursor: text;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, 
  -webkit-transform .2s ease-in-out;
  
}
.contact-form .submit-btn {
  display: inline-block;
  background-color: #000;
   background-image: linear-gradient(125deg,#18033f,#064497);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  width:200px;
  cursor: pointer;
  border-radius: 12px;
}

/* tablero grid */
/* tienda */
.product-grid{
  background-color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 20px;
  padding: 30px;
}
.product-grid .product-image{ position: relative; }
.product-grid .product-image a.image{ display: block; }
.product-grid .product-image img{
  width: 100%;
  height: auto;
}
.product-grid:hover .product-image .pic-1{
  opacity: 0;
  transition: all 0.5s ease 0s;
}
.product-image .pic-2{
  width: 100%;
  height: 100%;
  filter: blur(10px);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease 0s;
}
.product-grid:hover .product-image .pic-2{ filter: blur(0);opacity: 1; }
.product-grid .product-like-icon{
  color: #999;
  font-size: 16px;
  position: absolute;
  right: 13px;
  top: 10px;
  transition: all 0.3s ease 0s;
}
.product-grid .product-like-icon:hover{ text-shadow: 2px 2px 0 rgba(0,0,0,0.5); }
.product-grid .product-links{
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  opacity: 0;
  transform: translateX(-50%) scale(0);
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  z-index: 1;
  transition: all 0.3s ease;
}
.product-grid:hover .product-links{
  opacity: 1;
  transform: translateX(-50%) scale(1);
}
.product-grid .product-links li{ display: inline-block; }
.product-grid .product-links li a{
  color: #fff;
  background: #333;
  font-size: 16px;
  line-height: 38px;
  width: 40px;
  height: 40px;
  display: block;
  transition: all 0.3s ease 0s;
}
.product-grid .product-links li a:hover{
  color: #fff;
  background: #dd0059;
}
.product-grid .product-content{
  background-color: rgb(255, 255, 255);
  border-radius: 0 0 20px 20px;
  padding: 10px 10px 10px;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease 0s;
}
.product-grid:hover .product-content{ transform: translateY(47px); }
.product-grid .title{
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
  margin: 0 0 7px;
}
.product-grid .title a{
  color: #222;
  transition: all 0.3s ease 0s;
  list-style: none;
  text-decoration: none;
}
.product-grid .title a:hover{ color: #dd0059; }
.product-grid .price{
  color: #333;
  font-size: 16px;
  font-weight: 600;
}

.container__clothes{
  margin-top: 2em;
  margin-bottom: 2em;
}
.fa-shopping-bag{
  color:white;
}
/* long card */
.long__card{
  background-color: rgba(255, 255, 255, 0);
}

.contenedor-cards{
  display: flex;
  justify-content: center;
}
.carta{
  margin: 1em;
  background-color: rgb(16, 7, 41);
}
.carta:hover{
  box-shadow: 18px 17px 28px -9px rgba(7,6,102,0.75);
  -webkit-box-shadow: 18px 17px 28px -9px rgba(7,6,102,0.75);
  -moz-box-shadow: 18px 17px 28px -9px rgba(7,6,102,0.75);
}
.titulo{
  color: white;
  border-bottom: 2px solid red;
}
.subtitulo{
  color: white;
}
.card-title{
  color: white;
  font-weight: bold;
  padding: 10px;
}
.card-text{
  color: rgb(189, 186, 186);
  font-size: 0.8em;
  border-top: 1px solid rgb(158, 158, 158);
  padding: 10px;
}

/* medias */
@media (max-width:767px) {
  .team-boxed h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}}
@media screen and (max-width:990px){
  .product-grid{ margin: 0 0 30px; }
}


